/* Estilos da barra lateral */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        font-size: 18px;
    }
}

.sidenav {
    margin: 0;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #2f1813a2;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.5s;
}

.sidenav a,
.sidenav button {
    text-decoration: none;
    color: black;
}

.sidenav button {
    border: 0;
    width: 95%;
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    background-color: #a5503e;
    transition: 0.3s;
}

.sidenav button:hover,
.btn button:hover { 
    background-color: #ffa793;
}

/* Estilos do cabeçalho e navegação */
body,
html {
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

header,
nav {
    background-color: #5e2f25;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    margin: 0;
    padding: 3px;
}

header img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #8f4e40;
}

header h2 {
    margin: 0;
    font-size: 35px;
}

header p {
    margin: 0;
    font-size: 15px;
}

nav {
    background-color: #6f2216;
    height: 7vh;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

nav img {
    width: 30px;
    height: 35px;
    cursor: pointer;
}

nav div.home {
    border-right: 2px solid black;
    padding-right: 10px;
}

nav div.img {
    padding-left: 10px;
    border-left: 2px solid black;
}

nav div.img,
.home {
    margin: 0;
    display: flex;
    align-items: center;
}

nav div.btn {
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
}

nav div.btn button {
    margin: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    padding: 10px;
    background-color:#a5503e ;
}

nav div.btn a {
    text-decoration: none;
    color: black ;
}

/* Estilos do conteúdo esquerdo */
.esq {
    background-color: #8f4e40;
    margin: 0;
    padding: 5px; 
}

.esq h2 {
    font-size: 30px;
    margin: 3px;
} 

.esq p {
    font-size: 15px;  
    margin: 3px;  
    text-indent: 1em;
    margin-bottom: 5px;
} 

.esq blockquote {
    text-align: left;
    padding: 3px 5px 3px 20px;
    margin: 10px 15px 10px 15px;
    border:1px solid #3c1712;
    border-left: 5px solid #3c1712;
    border-radius: 5%;
    background-color: #da9a8980;
}

/* Estilos do conteúdo direito */
.dir {
    background-color: #8f4e40;
    margin: 0;
    padding: 5px;
    padding-bottom: 8vh;

}

.dir h1 {
    text-align: center;
    margin: 2px; 
    border: 1px solid;
}

.dir pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    font-size: 15px;
}

div.video {
    text-align: center;
    margin: 3px;
}

/* Estilos do conteúdo principal */
.main {
    background-color: #8f4e40;
    margin: 0; 
    padding: 5px;
    padding-bottom: 8vh;
}
.main p {
    text-indent: 1em;
}
.main p,
.main h2 {
    margin: 0;
    margin-bottom: 5px;
}

.main h1 {
    margin: 0;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 25px;
    border: 1px solid;
}

.main pre {
    text-indent: 0;
    margin: 0;
    background-color: #3c17129f;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 0;
    font-size: 15px;
    border: 2px solid black;
    padding: 5px;
    color: whitesmoke;
}

/* Estilos adicionais */
mark {
    background-color: #ffc2ae;
}
ol,
ul {
    padding-bottom: 5px;
}
ol,
ul, 
li {
    margin: 0;
}
.tab,
.list {
    margin: 01px;
    padding: 5px;
    border: 1px solid;
}

.tab h2 {
    margin: 0;
}

.tab p {
    margin: 0;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    margin-bottom: 5px;
    tr > :nth-child(1) {
        background-color:#7b1008;
    }
    tr > :nth-child(2) {
        background-color:#a93b2a;
    }
    tr > :nth-child(3) {
        background-color:#7b1008;
    }
}
table.trc {
    tr > :nth-child(1) {
        text-align: center;
    }
}
code {
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

.sbs {
    display: flex;
    justify-content: space-around;
    code {
        text-indent: 0;
        font-size: 15px;
        text-align: center;
        margin: 1px;
        margin-bottom: 5px;
        width: 50%;
        border: 2px solid;
        padding: 5px;
        }
    pre {
        margin: 0;
        margin-bottom: 5px ;
        width: 50%;
    }
}

footer {
    background-color: #6f2216; 
    text-align: center;
    padding:0;
    display: flex;
    border-top: 2px solid;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

footer img {
    margin-top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 15%;
    display: flex;
    border: 2px solid;

}
footer a {
    color: black;
    letter-spacing: 3px;
    display: flex;
    text-decoration: none;
}
footer p {
    padding-left: 10px;
}